*{
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(red,blue);
    height: 100vh;
}
section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul{
    text-align: center;
}
ul:hover li a{
    opacity: 0;
}
ul li {
    list-style: none;
    margin: 14px 0;
}
ul li a{
    color: #f0ffff;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 5px;
    background-color: blueviolet;
    padding: 6px 20px;
    border-radius: 30px ;
    display: inline-block;
    width: 120px;
    transition: 0.5s;
    text-transform: uppercase;
    position: relative;
    z-index: 10;
}
ul li a:hover{
    transform: scale(1.5 ,1.5);
    background: rgb(66, 4, 97);
    opacity: 1;
}
ul li::after{
content: attr(data-text);
   color: wheat;
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%,-50%);
   font-size: 80px;
   font-weight: 900;
   text-transform: uppercase;
   opacity: 0;
   pointer-events: none;
   letter-spacing: 50px;
   transition: 0.5s;
}
ul li:hover:after{
    opacity: 0.5;
    letter-spacing: 5px;
  
   
}

